<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Around</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">  -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>

        #banner {
            padding: 13em 0 8em 0;
            background-color: #0c0c0c;
            background-image: url(/images/trip.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 15% left;
            text-align: left;
            z-index: 9999;
            opacity: 0.9;
        }

        #banner .inner {
            padding-top: 5rem;
            max-width: 65em;
            width: calc(100% - 6em);
            margin: 0 auto;
            position: relative;
            z-index: 10000;
            line-height: 1.5;
            text-align: center;
        }

        #banner h1 {
            font-size: 2em;
            margin: 0 0 1em 0;
            padding: 0;
            letter-spacing: 3px;
            font-weight: 700;
            color: #fff;
        }

        @media (max-width: 1500px) {
            .content-wrap {
            width: 100%;
            padding: 20px;
            }
        }

        nav ul li a:hover {
            background-color: #ddd;
            color: black;
        }

        .paging ul li a {
            width: 34px;
            height: 34px;
            border-radius: 34px;
            color: #333;
            line-height: 32px;
            display: inline-block;
            box-sizing: border-box;
        }

        a:link, a:visited, a:hover, a, .active, a:focus {
            text-decoration: none;
            cursor: pointer;
            color: inherit;
            word-break: break-word;
        }

        ol:after, ul:after, dl:after {
            content: '';
            display: block;
            clear: both;
        }

        .input_smallBlack {
            padding: 5px 27px;
            background-color: #343434;
            border: none;
            border-radius: 0;
            color: #fff;
            text-align: center;
            letter-spacing: -0.1em;
        }

        #menubar li:hover ul {
            display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
        }

        input[type="date"]::-webkit-calendar-picker-indicator,
        input[type="date"]::-webkit-inner-spin-button {
            display: none;
            appearance: none;
        }
        
    </style>

</head>
<body>
    <% include ../navbar.ejs %>

    <div id="container" style="width: 100%; position: relative;">
        <section id="banner">
            <div class="inner">
                <h1>제주 게시판</h1>
            </div>
        </section>

        <div id="content" class="content-wrap" style="padding-top:3rem;">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-header" style=" padding-right:5px">
                            <div style="margin-bottom: 5px; font-style: bold; margin-top:5px; letter-spacing: 1px;">
                                <span id="content_title" style="font-size: 25px;"><%= jj.jj_post_title %></span>
                            </div>
                            <div class="row">
                                <div class="col-11" style="font-size:14px;color:#bbb;margin-left:15px; word-spacing: 3px;">
                                    <span>By. <%= jj.jj_writer %></span>
                                    <span>|</span>
                                    <span><%= jj.jj_write_date.getFullYear() + "/" + (jj.jj_write_date.getMonth() + 1) + "/" + jj.jj_write_date.getDate() %></span>
                                    <span>|</span>
                                    <span>조회수 : <%= jj.jj_hit %></span>
                                </div>
                                <% if(nickname == jj.jj_writer) { %>
                                <a href="/board/modify/jeju<%= jj.jj_post_no %>"><span style="font-size: 14px;">수정</span></a>
                                <form action="/board/delete/jeju<%= jj.jj_post_no %>?_method=PATCH" method="POST">
                                    <input style="font-size: 14px; border: none; background:none;"  type="submit" value="삭제">
                                </form>
                                <% } %>
                            </div>
    
                        </div>
                        <div class="card-body">
                            <div style="margin-top: 10px;margin-bottom: 15px">
                                <%= jj.jj_post_text %>
                            </div>
                            <!-- {% if data_dic.content_file != None %} -->
                            <div style="margin-top: 10px;margin-bottom: 15px">
                                <%= jj.jj_post_image %><!-- <img src="/static/upload/{{data_dic.content_file}}" style="max-width:80%;max-height: 80%"/> -->
                            </div>
                            <!-- {% endif %} -->
                            
                        </div> 
                        <div class="card-footer justify-content-center">
                            <div class="button-group justify-content-center">
                                <!-- onclick="read_likes()" -->
                                <button type="button" class="btn btn-primary" >추천</button>
                                <!-- {{data_dic.content_likes}} -->
                                <button type="button" class="btn btn-outline-primary" disabled>좋아요</button>
                            </div>
                            
                        </div>
                    </div>

                    
                    <div class="comments" style="margin-top:3rem;">
                        <h4 style="margin-bottom: 20px;">댓글 (<%= jj.jj_comments ? jj.jj_comments.length : 0%>)</h4>
                        <% if (jj.jj_comments) { %>
                        
                        <% for(let comment of jj.jj_comments) { %>
                            <div class="comment" style="margin-bottom: 10px; padding-bottom: 3px; border-top: 0.5px solid lightgray;">
                              <div class="top">
                                <b><%= comment.dataValues.jj_comment_writer %></b>
                                   <% if(comment.dataValues.jj_comment_write_date.getMinutes() < 10) { %>
                                        <% if(comment.dataValues.jj_comment_write_date.getSeconds() < 10) { %>
                                            <%= '(' + comment.dataValues.jj_comment_write_date.getHours() + ':' + '0'+ comment.dataValues.jj_comment_write_date.getMinutes() + ':' + '0' + comment.dataValues.jj_comment_write_date.getSeconds() + ', ' + comment.dataValues.jj_comment_write_date.getFullYear() + '-' + (comment.dataValues.jj_comment_write_date.getMonth() + 1) + '-' + comment.dataValues.jj_comment_write_date.getDate() + ')'%> 
                                            <% } else {%>
                                              <%= '(' + comment.dataValues.jj_comment_write_date.getHours() + ':' + '0'+ comment.dataValues.jj_comment_write_date.getMinutes() + ':' + comment.dataValues.jj_comment_write_date.getSeconds() + ', ' + comment.dataValues.jj_comment_write_date.getFullYear() + '-' + (comment.dataValues.jj_comment_write_date.getMonth() + 1) + '-' + comment.dataValues.jj_comment_write_date.getDate() + ')'%> 
                                            <% } %>       
                                 <% } else { %>
                                        <% if (comment.dataValues.jj_comment_write_date.getSeconds() < 10) { %>
                                            <%= '(' + comment.dataValues.jj_comment_write_date.getHours() + ':' + comment.dataValues.jj_comment_write_date.getMinutes() + ':' + '0' + comment.dataValues.jj_comment_write_date.getSeconds() + ', ' + comment.dataValues.jj_comment_write_date.getFullYear() + '-' + (comment.dataValues.jj_comment_write_date.getMonth() + 1) + '-' + comment.dataValues.jj_comment_write_date.getDate() + ')'%> 
                                            <% } else { %>
                                                <%= '(' + comment.dataValues.jj_comment_write_date.getHours() + ':' + comment.dataValues.jj_comment_write_date.getMinutes() + ':' + comment.dataValues.jj_comment_write_date.getSeconds() + ', ' + comment.dataValues.jj_comment_write_date.getFullYear() + '-' + (comment.dataValues.jj_comment_write_date.getMonth() + 1) + '-' + comment.dataValues.jj_comment_write_date.getDate() + ')'%>    
                                            <% } %>
                                  <% } %>
                                <form style="display: inline-block; margin-top: 3px ;margin-left: 5px;" action="/board/comment/jeju<%= comment.dataValues.jj_comment_no %>?_method=PATCH" method="post">
                                    <input style="border-radius: 1rem;" type="submit" value="x">
                                </form>
                              </div>

                                  <div class="body"><%= comment.dataValues.jj_comment_text %></div>
                                </div>
                         <% } %>
                        <% } %>
                            <form style="display: inline-block; position: relative; width: 100%; max-width: 1580px; " action="/board/comment/jeju/<%= jj.jj_post_no %>" method="post">
                                <textarea style="width: 92%; padding-left: 3px; resize: vertical;" placeholder="Add comment here" name="newComment"></textarea>
                                <button type="submit" style="margin-left: 5px; float: right;">Comment</button>
                            </form>
                        
                      </div>
                      <div class="clearfix" style="margin-top:30px">
                        <div class="float-right">
                            <a href="/board/list/jeju" class="btn btn-primary" style="color: white;">
                                목록 보기
                            </a>
                        </div>
                    </div>
            </div>
            <div class="col-2"></div>
            <div style="margin-top:100px"></div>
        </div>

    </div>

    <div id="footer" style="height:15rem; background: black; color: white; text-align: center; padding-top: 7rem;">
        <h1>Footer</h1>
    </div>

    <!-- <script>
        document.getElementById('currentdate').value = new Date().toISOString().substring(0,10);
    </script> -->
</body>
</html>