<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Around</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <% include ../navbar1.ejs %>

    <div id="container" style="width: 100%; position: relative;">
        <% include ../banner.ejs %>

        <div id="content" class="content-wrap" style="padding-top:3rem;">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-header" style=" padding-right:5px">
                            <div style="margin-bottom: 5px; font-style: bold; margin-top:5px; letter-spacing: 1px;">
                                <span id="content_title" style="font-size: 25px;"><%= jl.jl_post_title %></span>
                            </div>
                            <div class="row">
                                <div class="col-11" style="font-size:14px;color:#bbb;margin-left:15px; word-spacing: 3px;">
                                    <span>By. <%= jl.jl_writer %></span>
                                    <span>|</span>
                                    <span><%= jl.jl_write_date.getFullYear() + "/" + (jl.jl_write_date.getMonth() + 1) + "/" + jl.jl_write_date.getDate() %></span>
                                    <span>|</span>
                                    <span>조회수 : <%= jl.jl_hit %></span>
                                </div>
                                <% if(nickname == jl.jl_writer) { %>
                                <a href="/board/modify/jeonla<%= jl.jl_post_no %>"><span style="font-size: 14px;">수정</span></a>
                                <form action="/board/delete/jeonla<%= jl.jl_post_no %>?_method=PATCH" method="POST">
                                    <input style="font-size: 14px; border: none; background:none;"  type="submit" value="삭제">
                                </form>
                                <% } %>
                            </div>
    
                        </div>
                        <div class="card-body">
                            <div style="margin-top: 10px;margin-bottom: 15px">
                                <%= jl.jl_post_text %>
                            </div>
                            <!-- {% if data_dic.content_file != None %} -->
                            <div style="margin-top: 10px;margin-bottom: 15px">
                                <%= jl.jl_post_image %><!-- <img src="/static/upload/{{data_dic.content_file}}" style="max-width:80%;max-height: 80%"/> -->
                            </div>
                            <!-- {% endif %} -->
                            
                        </div> 
                        <div class="card-footer justify-content-center">
                            <div class="button-group justify-content-center">
                                <!-- onclick="read_likes()" -->
                                <button type="button" class="btn btn-primary" >추천</button>
                                <!-- {{data_dic.content_likes}} -->
                                <button type="button" class="btn btn-outline-primary" disabled>좋아요</button>
                            </div>
                            
                        </div>
                    </div>

                    
                    <div class="comments" style="margin-top:3rem;">
                        <h4 style="margin-bottom: 20px;">댓글 (<%= jl.jl_comments ? jl.jl_comments.length : 0%>)</h4>
                        <% if (jl.jl_comments) { %>
                        
                        <% for(let comment of jl.jl_comments) { %>
                            <div class="comment" style="margin-bottom: 10px; padding-bottom: 3px; border-top: 0.5px solid lightgray;">
                              <div class="top">
                                <b><%= comment.dataValues.jl_comment_writer %></b>
                                   <% if(comment.dataValues.jl_comment_write_date.getMinutes() < 10) { %>
                                        <% if(comment.dataValues.jl_comment_write_date.getSeconds() < 10) { %>
                                            <%= '(' + comment.dataValues.jl_comment_write_date.getHours() + ':' + '0'+ comment.dataValues.jl_comment_write_date.getMinutes() + ':' + '0' + comment.dataValues.jl_comment_write_date.getSeconds() + ', ' + comment.dataValues.jl_comment_write_date.getFullYear() + '-' + (comment.dataValues.jl_comment_write_date.getMonth() + 1) + '-' + comment.dataValues.jl_comment_write_date.getDate() + ')'%> 
                                            <% } else {%>
                                              <%= '(' + comment.dataValues.jl_comment_write_date.getHours() + ':' + '0'+ comment.dataValues.jl_comment_write_date.getMinutes() + ':' + comment.dataValues.jl_comment_write_date.getSeconds() + ', ' + comment.dataValues.jl_comment_write_date.getFullYear() + '-' + (comment.dataValues.jl_comment_write_date.getMonth() + 1) + '-' + comment.dataValues.jl_comment_write_date.getDate() + ')'%> 
                                            <% } %>       
                                 <% } else { %>
                                        <% if (comment.dataValues.jl_comment_write_date.getSeconds() < 10) { %>
                                            <%= '(' + comment.dataValues.jl_comment_write_date.getHours() + ':' + comment.dataValues.jl_comment_write_date.getMinutes() + ':' + '0' + comment.dataValues.jl_comment_write_date.getSeconds() + ', ' + comment.dataValues.jl_comment_write_date.getFullYear() + '-' + (comment.dataValues.jl_comment_write_date.getMonth() + 1) + '-' + comment.dataValues.jl_comment_write_date.getDate() + ')'%> 
                                            <% } else { %>
                                                <%= '(' + comment.dataValues.jl_comment_write_date.getHours() + ':' + comment.dataValues.jl_comment_write_date.getMinutes() + ':' + comment.dataValues.jl_comment_write_date.getSeconds() + ', ' + comment.dataValues.jl_comment_write_date.getFullYear() + '-' + (comment.dataValues.jl_comment_write_date.getMonth() + 1) + '-' + comment.dataValues.jl_comment_write_date.getDate() + ')'%>    
                                            <% } %>
                                  <% } %>
                                <form style="display: inline-block; margin-top: 3px ;margin-left: 5px;" action="/board/comment/jeonla<%= comment.dataValues.jl_comment_no %>?_method=PATCH" method="post">
                                    <input style="border-radius: 1rem;" type="submit" value="x">
                                </form>
                              </div>

                                  <div class="body"><%= comment.dataValues.jl_comment_text %></div>
                                </div>
                         <% } %>
                        <% } %>
                            <form style="display: inline-block; position: relative; width: 100%; max-width: 1580px; " action="/board/comment/jeonla/<%= jl.jl_post_no %>" method="post">
                                <textarea style="width: 92%; padding-left: 3px; resize: vertical;" placeholder="Add comment here" name="newComment"></textarea>
                                <button type="submit" style="margin-left: 5px; float: right;">Comment</button>
                            </form>
                        
                      </div>
    
                    <div class="clearfix" style="margin-top:30px">
                        <div class="float-right">
                            <a href="/board/list/jeonla" class="btn btn-primary" style="color: white;">
                                목록 보기
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div style="margin-top:100px"></div>
        </div>

    </div>

    <div id="footer" style="height:15rem; background: black; color: white; text-align: center; padding-top: 7rem;">
        <h1>Footer</h1>
    </div>

    <!-- <script>
        document.getElementById('currentdate').value = new Date().toISOString().substring(0,10);
    </script> -->
</body>
</html>