<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Around</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

</head>
<body>
    <% include ../navbar1.ejs %>

    <div id="container" style="width: 100%; position: relative;">
        <% include ../banner.ejs %>

        <div id="content" class="content-wrap" style="padding-top:3rem;">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <form action="/board/modify/companion_board/<%= cb.c_post_no %>?_method=PUT" method="post" enctype="multipart/form-data">
                        <div class="card">                    
                            <div class="card-header" style="padding-right:5px;">                        
                                <div class="input-group mt-3 mb-3" style="padding-right:15px;">
                                    <input type="hidden" name="board_app_idx" value=""/>
                                    <label for="region_a" style="margin-right: 0.5rem; margin-top: 3px; margin-bottom: 3px; padding-top: 3px; padding-bottom: 3px;">지 역</label>
                                    <select name="regionType" id="region_a" title="지역항목" style="margin-right: 0.75rem;" value="<%= cb.c_region %>">
                                        <option value='' selected>-- 선택 --</option>
                                        <option value="수도권">서울·경기·인천</option>
                                        <option value="강원">강원</option>
                                        <option value="충청">충청</option>
                                        <option value="전라">전라</option>
                                        <option value="경상">경상</option>
                                        <option value="제주">제주</option>
                                    </select>
                                    <label for="datepicker" style="margin-right: 0.5rem; margin-top: 3px; margin-bottom: 3px; padding-top: 3px; padding-bottom: 3px;">날 짜</label>
                                    <input type="date" id="datepicker" style="margin-right: 0.75rem;" value="<%= cb.c_dept_date %>" name="dept_date">
                                    <label for="board_subject" style="margin-right: 0.5rem; margin-top: 3px; margin-bottom: 3px; padding-top: 3px; padding-bottom: 3px;">제 목</label>
                                    <input type="text" class="form-control" 
                                    name="board_subject" id="board_subject" value="<%= cb.c_post_title %>" />
                                    <!-- {{data_dic.content_subject}} -->
                                </div>
        
                            </div>
                            <div class="card-body">
                                <textarea class="form-control" name="board_text"
                                    id="board_text" style="height:300px" value="<%= cb.c_post_text %>"></textarea>
                                    <!-- {{data_dic.content_text}} -->
                            </div> 
                            <div class="card-footer">
                                <!-- 이미지 첨부하기 -->
                                <input type="file" class="form-control"
                                name="board_image" id="board_image"
                                accept="image/*"/>
                            </div>
                        </div>

                        <div class="clearfix" style="margin-top:30px">
                            <div class="float-right">
                                <button type="submit" class="btn btn-primary">
                                    완료
                                </button>
                                <a href="/board/read/companion_board/<%= cb.c_post_no %>" class="btn btn-warning">
                                    취소
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2"></div>
            <div style="margin-top:100px"></div>
        </div>

    </div>

    <div id="footer" style="height:15rem; background: black; color: white; text-align: center; padding-top: 7rem;">
        <h1>Footer</h1>
    </div>

    <script type="text/javascript">
        var picker = new Pikaday({
        field: document.getElementById('datepicker'),
        format: 'yyyy-MM-dd',
        toString(date, format) {
            let day = ("0" + date.getDate()).slice(-2);
            let month = ("0" + (date.getMonth() + 1)).slice(-2);
            let year = date.getFullYear();
            return `${year}-${month}-${day}`;
        }
        });
    </script>
</body>
</html>